.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0;
  margin: 1em 3em;
}

.logo {
  text-transform: lowercase;
  font-size: 3em;
}

.second {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
}