.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0;
  margin: 0em 3em;
  height: 100vh;
}

.logo {
  text-transform: lowercase;
  font-size: 3em;
}

.second {
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
}

.second > *{
  flex: 1 1 0;
}