.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1em;
}

.second {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
}