.formLayout {
  display: flex;
}

.formSection {
  flex: 1 1 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-transform: lowercase;
  font-size: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  width: 26em;
  padding: 3em 3em;
  gap: 1em;
  align-items: center;
  background-color: white;
  border-radius: var(--border-radius);
}

.button {
  padding: 1em;
  border-radius: 20px;
  width: 100%;
  max-width: 20em;
}

.submitButton {
  background-color: rgb(var(--foreground-rgb));
  color: white;
}

.outlineButton {
  border: 2px solid rgb(var(--foreground-rgb));
}

.signInGoogleButton {
  border: 2px solid rgb(var(--foreground-rgb));
}

.textInputContainer {
  width: 100%;
}

.textInput {
  width: 100%;
  padding: 0.75em 0.5em;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  font-family: inherit;
}